@font-face {
    font-family: font-main;
    src: url(../font/open-san/OpenSans-Bold.ttf);
}

@font-face {
    font-family: open-regular;
    src: url(../font/open-san/OpenSans-Regular.ttf);
}

body {
    font-family: open-regular;
    color: #444444;
}

a {
    color: #5846f9;
}

a:hover {
    color: #8577fb;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: font-main;
}
/*---------------------START CSS HEADER---------------------*/

/*CSS DESKTOP-HEADER-TOP*/

.wrapper {
    *zoom: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flow-root;
}

#header .desktop-header .desktop-header-top {
    background: #2c394c;
    display: flow-root;
}

#header .desktop-header .desktop-header-top .large--two-thirds {
    width: 66.666%;
    float: left;
}

#header .desktop-header .desktop-header-top. large--one-third {
    width: 33.333%;
    float: right;
}

.grid__item {
    box-sizing: border-box;
    min-height: 1px;
    padding-left: 30px;
    vertical-align: top;
}

#header .desktop-header .desktop-header-top .hdt-left-menu > a {
    display: inline-block;
    padding: 12px 0px 15px 0px;
    margin-right: 15px;
    color: #ffffff;
    border-top: 3px solid transparent;
    text-decoration: none;
    font-weight: 700;
}

#header .desktop-header .desktop-header-top .hdt-left-menu > a:hover {
    color: #11b5e6;
    border-top: 3px solid #11b5e6;
}

.text-right {
    text-align: right !important;
}

#header .desktop-header .desktop-header-top .hdt-right-social > a {
    display: inline-block;
    padding: 12px 0px 15px 0px;
    margin-right: 15px;
    color: #ffffff;
    border-top: 3px solid transparent;
}

#header .desktop-header .desktop-header-top .hdt-right-social > a:hover {
    color: #11b5e6;
}
/*-----END CSS DESKTOP-HEADER-TOP-----*/


/*-----START CSS DESKTOP-HEADER-CENTER-----*/
#header .desktop-header .desktop-header-center {
    padding: 50px 0px;
    background: #ffffff;
}

#header .desktop-header .desktop-header-center .hd-contact > div {
    display: inline-block;
    margin-right: 15px;
}

.text-left {
    text-align: left !important;
}

#header .desktop-header .desktop-header-center .large--two-twelfths {
    width: 16.666%;
    float: left;
}

#header .desktop-header .desktop-header-center .large--ten-twelfths {
    width: 83.333%;
    float: right;
}

#header .desktop-header .desktop-header-center .hd-contact > div > div {
    padding-left: 45px;
}

#header .desktop-header .desktop-header-center .hd-contact > div > img {
    float: left;
}

#header .desktop-header .desktop-header-center .hd-contact > div > div h5 {
    color: #002e5b;
    margin: 0px;
    line-height: 1.4;
    font-size: 12px;
    text-transform: uppercase !important;
    font-weight: 700;
}

#header .desktop-header .desktop-header-center .hd-contact > div > div a {
    display: inline-block;
    color: #002e5b;
}
#header .desktop-header .desktop-header-center .hd-contact > div > div a:hover {
    color: #11b5e6;
    text-decoration: none;
}

/*-----END CSS DESKTOP-HEADER-CENTER-----*/

/*-----START CSS DESKTOP-HEADER-NAVBAR-----*/

#header .desktop-header .desktop-header-center {
    padding: 50px 0px;
    background: #ffffff;
}

#header .desktop-header .desktop-header-navbar {
    background: #2c394c;
}

.no-bullets {
    list-style: none outside;
    margin-left: 0;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul {
    margin: 0px;
    text-align: center;
    z-index: 99;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li {
    display: inline-block;
    margin: 0px;
    padding: 15px 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li > a {
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase !important;
    font-size: 14px;
    font-weight: 700;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li > a:hover {
    color: #11b5e6;
    text-decoration: none;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown {
    position: relative;
    z-index: 9999;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul {
    display: none;
    animation: slide-up 0.6s;
    margin: 0px;
    line-height: normal;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 215px;
    z-index: 9999;
    background: #3d4e7d;
    text-align: left;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown:hover > ul {
    padding-left: 0;
    display: inline-block;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li {
    margin: 0px;
    position: relative;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li > a {
    display: block;
    padding: 15px 0px 15px 10px;
    color: #ffffff;
    border-bottom: 1px solid rgba(231, 231, 231, 0.1);
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li > a:hover{
    text-decoration: none;
    color: #11b5e6;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li > ul {
    display: none;
    animation: slide-up 0.6s;
    margin: 0px;
    line-height: normal;
    position: absolute;
    top: 0%;
    left: 90%;
    width: 200px;
    padding: 0px;
    z-index: 9;
    background: #3d4e7d;
    text-align: left;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li > ul > li {
    margin: 0px;
    position: relative;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li > ul > li > a {
    display: block;
    padding: 15px 0px 15px 20px;
    color: #ffffff;
    border-bottom: 1px solid rgba(231, 231, 231, 0.1);
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li > ul > li > a:hover {
    text-decoration: none;
    color: #11b5e6;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li:hover > ul {
    display: inline-block;
}
#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li > ul > li {
    margin: 0px;
    position: relative;
}
#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li > ul > li > a {
    display: block;
    padding: 15px 0px 15px 20px;
    color: #ffffff;
    border-bottom: 1px solid rgba(231, 231, 231, 0.1);
}
#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li > ul > li > a {
    display: block;
    padding: 15px 0px 15px 20px;
    color: #ffffff;
    border-bottom: 1px solid rgba(231, 231, 231, 0.1);
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li:hover > ul {
    display: inline-block;
}
#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li > a > i{
    vertical-align: 0.2em;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li.dropdown > ul > li > a .fa-caret-right{
    color: #11b5e6;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li:last-child {
    border-right: none;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li > .search-bar {
    position: relative;
    width: 250px;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li > .search-bar input {
    width: 100%;
    border-radius: 100px;
    padding: 8px 40px 8px 10px;
}

.input-group-field, .input-group-btn {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li > .search-bar button {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background: transparent;
    color: #2c394c;
    padding: 0px;
    height: 40px;
    width: 40px;
    line-height: 40px;
}

#header .desktop-header .desktop-header-navbar > .wrapper > .inner > ul > li > .search-bar button:hover {
    color: #11b5e6;
}

/*-----END CSS DESKTOP-HEADER-NAVBAR-----*/

/*-----START CSS BREADCRUMB-WRAPPER-----*/

#breadcrumb-wrapper5{
    display: block;
}

#breadcrumb-wrapper5.breadcrumb-w-img {
    height: 300px;
    padding: 30px 0;
    background: url("../images/gioi-thieu/breadcrumb_bg5.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#breadcrumb-wrapper5.breadcrumb-w-img .breadcrumb-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
}

.text-center {
    text-align: center !important;
}

#breadcrumb-wrapper5.breadcrumb-w-img .breadcrumb-content .breadcrumb-big h2 {
    font-size: 24px;
    color: #fff;
    padding: 0px;
    margin: 0px 0px 5px 0px;
    text-transform: uppercase !important;
    font-weight: 700;
}

#breadcrumb-wrapper5.breadcrumb-w-img .breadcrumb-content .breadcrumb-small a {
    display: inline-block;
    position: relative;
}

#breadcrumb-wrapper5.breadcrumb-w-img .breadcrumb-content .breadcrumb-small a,
#breadcrumb-wrapper5.breadcrumb-w-img .breadcrumb-content .breadcrumb-small span {
    color: #fff;
}

#breadcrumb-wrapper5.breadcrumb-w-img .breadcrumb-content .breadcrumb-small a:hover {
    text-decoration: none;
    color: #11b5e6;
}

/*-----END CSS BREADCRUMB-WRAPPER-----*/

/*---------------------END CSS HEADER---------------------*/

/*---------------------START CSS CONTAINER---------------------*/

/*---START CSS SECTION 1---*/

#PageContainer {
    overflow: hidden;
    color: #637281;
}

.main-content {
    display: block;
}

#page-wrapper {
    padding: 50px 0px;
}

#page-wrapper .wrapper .inner .grid .grid__item .rte p a{
    color: #11b5e6;
}

#page-wrapper .wrapper .inner .grid .grid__item .rte p a:hover{
    color: #51cdf2;
}

.large--one-whole {
    width: 100%;
}

#page-wrapper h1 {
    color: #637281;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 15px 0px;
    border-bottom: 1px solid #e7e7e7;
    text-transform: uppercase !important;
    font-size: 24px;
    font-weight: 700;
}

.rte {
    margin-bottom: 15px;
}

.rte a {
    text-decoration: underline;
}

a:hover, a:focus {
    color: #51cdf2;
}

.rte li {
    margin-bottom: 0.4em;
}

/*---END CSS SECTION 1---*/

/*---START CSS SECTION 2---*/
.cd-horizontal-timeline {
    margin-bottom: 50px;
}

.cd-horizontal-timeline.loaded {
    opacity: 1;
}

.section-title {
    margin-bottom: 50px;
}

.text-center {
    text-align: center !important;
}

.section-title h2 {
    color: #012d59;
    margin: 0px;
    line-height: 120%;
    font-size: 24px;
    font-weight: 700;
}

.section-title .section-title-border {
    display: inline-block;
    height: 5px;
    width: 100px;
    background: #11b5e6;
}

.cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0 auto;
}

.cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden;
}

.cd-horizontal-timeline .events {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    background: #dfdfdf;
    transition: transform 0.4s;
}

.cd-horizontal-timeline ol {
    margin: 0px;
    list-style-type: none !important;
}

ol {
    list-style: decimal;
}

.cd-horizontal-timeline .events a {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    color: #637281;
    padding-bottom: 15px;
    transform: translateZ(0);
}

.cd-horizontal-timeline .events a.older-event::after {
    border-color: #11b5e6;
}

.cd-horizontal-timeline .events a::after {
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: -5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8;
    transition: background-color 0.3s, border-color 0.3s;
}

.cd-horizontal-timeline .filling-line {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #11b5e6;
    transform-origin: left center;
    transition: transform 0.3s;
}

.cd-horizontal-timeline .cd-timeline-navigation li {
    list-style-type: none;
    height: 0px;
}

.cd-timeline-navigation a {
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    transition: border-color 0.3s;
    text-align: center;
}

.cd-timeline-navigation a.inactive {
    cursor: not-allowed;
}

.cd-timeline-navigation a.prev {
    left: 0;
}

.cd-timeline-navigation a.next {
    right: 0;
}

.cd-timeline-navigation a.next i,
.cd-timeline-navigation a.prev i{
    color: #11b5e6;
    vertical-align: 0.05em;
    font-size: 20px;
    font-weight: 700;
}

.cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
    transition: height 0.4s;
}

.cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    padding: 0 5%;
    opacity: 0;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content h2 {
    line-height: 1.2;
}

.cd-horizontal-timeline .events-content li > * {
    max-width: 800px;
    margin: 0 auto;
}

.cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto;
}

.cd-horizontal-timeline .events-content em::before {
    content: '- ';
}

.large--one-half {
    width: 50%;
}

img {
    vertical-align: middle;
}

.cd-horizontal-timeline .events-content p {
    color: #637281;
    line-height: 24px;
}

.grid:after, .grid--rev:after, .grid--full:after, .grid-uniform:after {
    content: '';
    display: table;
    clear: both;
}

.cd-horizontal-timeline .events-content li.selected {
    position: relative;
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
}

/*---END CSS SECTION 2---*/

/*---START CSS SECTION 3---*/
#pau-leaders {
    margin-bottom: 20px;
}

#pau-leaders .staff-wrapper {
    margin-bottom: 30px;
    padding: 15px;
    border-bottom: 2px solid #ececec;
    background: #f9f9f9;
}

#pau-leaders .staff-wrapper .grid{
    display: flex;
}

#pau-leaders .staff-wrapper .staff-img img {
    width: 100%;
}

#pau-leaders .staff-wrapper .staff-name {
    color: #012d59;
    font-weight: 700;
}

#pau-leaders .staff-wrapper .staff-desc {
    line-height: 24px;
}

/*---END CSS SECTION 3---*/
/*---------------------END CSS CONTAINER---------------------*/

/*---------------------START CSS FOOTER---------------------*/

/*---START FOOTER CONTENT---*/
#footer {
    color: #90a2bc;
    font-size: 15px;
}

#footer .footer-content {
    padding: 50px 0px;
    background: #2c394c;
}

#footer .footer-content h3.ft-title {
    position: relative;
    padding-left: 25px;
    margin: 0px 0px 15px 0px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
}
#footer .footer-content h3.ft-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 7px;
    height: 22px;
    background: #11b5e6;
}
#footer .footer-content .ft-contact > div {
    margin-bottom: 15px;
}

#footer .footer-content .ft-nav ul li {
    margin: 0px;
    position: relative;
}
#footer .footer-content .ft-nav ul{
    padding-left: 0;
}

#footer .footer-content .ft-nav ul li a {
    text-decoration: none;
}

#footer .footer-content .ft-nav ul li a:hover{
    color: #11b5e6;
}

#footer .footer-content .ft-nav ul li a> span {
    padding: 0px 0px 15px 10px;
}

#footer .footer-content .ft-contact .ft-contact-desc {
    line-height: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(231, 231, 231, 0.1);
}

#footer .footer-content .ft-nav ul li > a {
    display: block;
    padding: 15px 0px 15px 0;
    color: #90a2bc;
    border-bottom: 1px solid rgba(231, 231, 231, 0.1);
}

#footer .footer-content .ft-contact .ft-contact-address .ft-contact-detail,
#footer .footer-content .ft-contact .ft-contact-tel .ft-contact-detail,
#footer .footer-content .ft-contact .ft-contact-email .ft-contact-detail {
    padding-left: 25px;
}
#footer .footer-content .ft-contact .ft-contact-address .ft-contact-icon,
#footer .footer-content .ft-contact .ft-contact-tel .ft-contact-icon,
#footer .footer-content .ft-contact .ft-contact-email .ft-contact-icon {
    display: inline-block;
    float: left;
    color: #11b5e6;
    font-size: 18px;
}
#footer .footer-content .ft-contact .ft-contact-address .ft-contact-detail a,
#footer .footer-content .ft-contact .ft-contact-tel .ft-contact-detail a,
#footer .footer-content .ft-contact .ft-contact-email .ft-contact-detail a {
    text-decoration: none;
    color: #11b5e6;
}

#footer .footer-content .ft-nav ul li:last-child > a {
    padding: 15px 0px 0px 0px;
    border-bottom: 0px;
}

#footer .footer-content .ft-subscribe .ft-subscribe-desc {
    line-height: 24px;
    padding-bottom: 15px;
}

#footer .footer-content .ft-subscribe .ft-sub-wrapper form input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 40px 0px 15px;
    outline: 0px;
    border: 1px solid #e7e7e7;
    border-radius: 100px;
}

#footer .footer-content .ft-subscribe .ft-sub-wrapper form button {
    position: absolute;
    top: calc(60% - 17.5px);
    right: 18px;
    width: 35px;
    height: 35px;
    padding: 0px;
    line-height: 34px;
    outline: 0px;
    border: 0px;
    border-radius: 50%;
    color: #fff;
    background: #11b5e6;
    font-size: 18px;
}

#footer .footer-content .ft-social > a {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    width: 34px;
    background: #6983a8;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    margin-right: 5px;
}

#footer .footer-content .ft-social > a:hover {
    color: #11b5e6;
}

#footer .footer-content .ft-subscribe {
    margin-bottom: 15px;
}

/*---END FOOTER CONTENT---*/

/*---START FOOTER COPYRIGHTS---*/

#footer .footer-copyrights {
    padding: 30px 0px;
    background: #2c394c;
    border-top: 1px solid rgba(231, 231, 231, 0.1);
}

#footer .footer-copyrights .ft-copyrights-content {
    color: #90a2bc;
    font-weight: 700;
}

#footer .footer-copyrights .ft-copyrights-link ul {
    margin: 0px;
}

#footer .footer-copyrights .ft-copyrights-link ul > li {
    display: inline-block;
    margin: 0px 15px 0px 0px;
}

#footer .footer-copyrights .ft-copyrights-link ul > li > a {
    display: inline-block;
    color: #90a2bc;
    font-weight: 700;
    text-decoration: none;
}

#footer .footer-copyrights .ft-copyrights-link ul > li > a:hover {
    color: #11b5e6;
}

#footer .footer-copyrights .ft-copyrights-content a{
    color: #11b5e6;
    text-decoration: none;
}
#footer .footer-copyrights .ft-copyrights-content a:hover{
    color: #51cdf2;
}

/*---END FOOTER COPYRIGHTS---*/
/*---------------------END CSS FOOTER---------------------*/

