/*-----START CSS BACKDROP-----*/

#backdrop {
    height: 300px;
    padding: 30px 0;
    background: url("../images/gioi-thieu/breadcrumb_bg5.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#backdrop .backdrop-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
}

#backdrop .backdrop-content .backdrop-big h2 {
    font-size: 24px;
    color: #fff;
    padding: 0px;
    margin: 0px 0px 5px 0px;
    text-transform: uppercase;
    font-weight: 700;
}

#backdrop .backdrop-content .backdrop-small a,
#backdrop .backdrop-content .backdrop-small span {
    color: #fff;
}

#backdrop .backdrop-content .backdrop-small a:hover {
    text-decoration: none;
    color: #11b5e6;
}

/*-----END CSS BACKDROP-----*/

/*---------------------END CSS HEADER---------------------*/

/*---------------------START CSS CONTAINER---------------------*/

/*---START CSS SECTION 1---*/

.section-title h2 {
    color: #012d59;
    margin: 0px;
    line-height: 120%;
    font-size: 24px;
    font-weight: 700;
}

.section-title {
    margin-bottom: 50px;
}

.section-title .section-title-border {
    display: inline-block;
    height: 5px;
    width: 100px;
    background: #11b5e6;
}

#PageContainer {
    color: #637281;
}

#page-wrapper {
    padding: 50px 0px;
}

#page-wrapper .container .row .col-sm-12 p a{
    color: #11b5e6;
}

#page-wrapper .container .row .col-sm-12 p a:hover{
    color: #51cdf2;
}

#page-wrapper h1 {
    color: #637281;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 15px 0px;
    border-bottom: 1px solid #e7e7e7;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.rte a {
    text-decoration: underline;
}

.rte li {
    margin-bottom: 0.4em;
}

/*---END CSS SECTION 1---*/

/*---START CSS SECTION 2---*/

.cd-horizontal-timeline {
    margin-bottom: 50px;
}

.cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0 auto;
}

.cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden;
}

.cd-horizontal-timeline .events {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    background: #dfdfdf;
    transition: transform 0.4s;
}

.cd-horizontal-timeline ol {
    margin: 0px;
    list-style-type: none !important;
}

.cd-horizontal-timeline .events a {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    color: #637281;
    padding-bottom: 15px;
    transform: translateZ(0);
}

.cd-horizontal-timeline .events a::after {
    content: '';
    position: absolute;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: -5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    background-color: #f8f8f8;
    transition: background-color 0.3s, border-color 0.3s;
}

.cd-horizontal-timeline .filling-line {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #11b5e6;
    transform-origin: left center;
    transition: transform 0.3s;
}

.cd-horizontal-timeline .cd-timeline-navigation li {
    list-style-type: none;
    height: 0px;
}

.cd-timeline-navigation a {
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 50%;
    border: 2px solid #dfdfdf;
    transition: border-color 0.3s;
    text-align: center;
}

.cd-timeline-navigation a.prev {
    left: 0;
}

.cd-timeline-navigation a.next {
    right: 0;
}

.cd-timeline-navigation a.next i,
.cd-timeline-navigation a.prev i{
    color: #11b5e6;
    vertical-align: 0.05em;
    font-size: 20px;
    font-weight: 700;
}

.cd-horizontal-timeline .events-content li {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    padding: 0 5%;
    opacity: 0;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.cd-horizontal-timeline .events-content .selected div row col-sm-6 img{
    width: 100% !important;
}

.cd-horizontal-timeline .events-content li{
    padding: 0 120px;
    margin: 0 auto;
}

.cd-horizontal-timeline .events-content em {
    display: block;
    font-style: italic;
    margin: 10px auto;
}

.cd-horizontal-timeline .events-content em::before {
    content: '- ';
}

.cd-horizontal-timeline .events-content p {
    color: #637281;
    line-height: 24px;
}

.cd-horizontal-timeline .events-content li.selected {
    position: relative;
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
}

/*---END CSS SECTION 2---*/

/*----START CSS SECTION 3----*/
#pau-leaders {
    margin-bottom: 20px;
}

#pau-leaders .staff-wrapper {
    margin-bottom: 30px;
    padding: 15px;
    border-bottom: 2px solid #ececec;
    background: #f9f9f9;
}

#pau-leaders .staff-wrapper .staff-name {
    color: #012d59;
    font-weight: 800;
}
#pau-leaders .container .row .col-sm-6 .staff-img img{
    width: 100%;
}

/*---END CSS SECTION 3---*/

/*---------------------END CSS CONTAINER---------------------*/

/*---------------------START CSS RESPONSIVE CONTAINER---------------------*/
/*-----RESPONSIVE IPAD PRO*/
@media only screen and (max-width: 1024px) {
    .cd-horizontal-timeline .events-content li {
        padding: 0 120px 0 100px;
    }
}

/*-----RESPONSIVE IPAD*/
@media only screen and (max-width: 768px){
    .cd-horizontal-timeline .events-content li {
        padding: 0 40px 0 0;
    }
    #pau-leaders .container .row .col-sm-6 .staff-wrapper .row{
        display: grid;
    }
    #pau-leaders .container .row .col-sm-6{
        flex: 0 0 100%;
        max-width: 33%;
        padding: 0 9px 0 15.5px;
    }
    #pau-leaders .container .row .col-sm-6 .staff-img img,
    #pau-leaders .container .row .col-sm-6 p {
        width: 400%;
    }
    #pau-leaders .container .row .col-sm-6 .staff-name {
        margin-top: 15px;
    }
}
/*-----RESPONSIVE IPHONE*/
@media only screen and (max-width: 480px){
    #pau-leaders .container .row .col-sm-6 .staff-img img, #pau-leaders .container .row .col-sm-6 p {
        width: 205%;
    }
    #pau-leaders .container .row .col-sm-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    #pau-leaders .container .row .col-sm-6 .staff-img img, #pau-leaders .container .row .col-sm-6 p {
        width: 100% !important;
    }
}

/*---------------------END CSS RESPONSIVE CONTAINER---------------------*/
